<html>
<body>
    <a href="/">Página inicial</a>
    <a href="/livros/cadastro"> - Cadastro</a>
    
    <h1>Livros</h1>
    <table>
        <tr>
            <td>ID</td>
            <td>TITULO</td>
        </tr>

        <tr for (livro in data.livros) >
            
            <td>${livro.id}</td>
            <td title=`${livro.descricao}`>${livro.titulo}</td>
            <td>
                <button
                    data-id=`${livro.id}`
                    class="livro-button"
                    style="border: 1px solid; border-radius: 1rem; background-color: #cecece; font-size: 10px"
                    onclick=`${() => {console.log('Ha')}}`
                >X</button>
            </td>
        </tr>
    </table>

    <script>
        const livrosBtns = document.querySelectorAll(".livro-button");
        livrosBtns.forEach(btn => {
            btn.addEventListener("click", () => {
                const id = btn.dataset.id
                data.excluir(id)
            })
        })
    </script>
</body>
</html>