* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

form {
    background: #f3f3f3;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    padding: 1rem;
    div {
        display: flex;
        align-items: center;
        height: 40px;
    }
    div label {
        display: inline-flex;
        align-items: center;
        height: 100%;
        width: 100px;
    }
    div input, div textarea {
        border: 1px black solid;
        border-radius: .24rem;
        resize: none;
        width: 200px;
        height: 100%;
        font-size: 16px;
        padding: 0 .3rem;
    }
    div textarea {
        height: 100%;
        font-size: 14px;
    }

}